@use "../scss/vars";

.topContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  width: fit-content;
  padding: 10px 20px;
  color: vars.$black;
  border-radius: 15px;
  background-color: vars.$white;
  border: 3px solid vars.$gray;
  box-shadow: 0 8px 0 vars.$dark-gray;
  transform: translateY(-500px);
  user-select: none;
  &__text {
    font-size: 1rem;
  }
  &__target {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .topContainer {
    &__text {
      font-size: 0.75rem;
    }
    &__target {
      font-size: 1.25rem;
    }
  }
}
